### Secrets ###
.env
static_data

### This file needs to be refactored before it can be pushed ###
bustrackr_server/data_parser.py

### Python venv ###
.venv

### Flask ###
instance/*
!instance/.gitignore
.webassets-cache
.env

### Flask.Python Stack ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class